$app_id: 'replaced_by_compile_scss_file';
$font_name: 'my_font_' + $app_id;
$animation_duaration: 200ms;
$animation_mode: ease-out;
$black: #212121;
$yellow: #fbff75;
$light_orange: #fff7c7;
$blue: #3892ff;