.sections_and_offers {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sections {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    outline: none;
}

.section {
    margin: $main_margin;
}

.offers {
    @include border_top;

    order: 1;

    .offers_inner {
        margin: $main_margin;
        margin-top: $gap;
    }

    + .sections .section {
        margin-bottom: $gap;
    }
}

.subsection {
    .name {
        margin: 0;
        font-weight: bold;
        font-size: unset;
        text-decoration: underline;

        &:not(:first-child) {
            margin-top: $main_margin;
        }
    }
}
