.section_btns {
    flex-shrink: 0;
    display: flex;
    flex-flow: column;
    overflow: auto;

    .filler {
        position: relative;
        height: 100%;
    }

    .section_btn {
        @include input_basic;

        position: relative;
        text-align: left;
        padding: 10px;
        padding-right: 11px;
        cursor: pointer;

        &.selected {
            cursor: default;
        }

        &.selected::before,
        &:not(.selected):hover::before {
            content: '';
            height: 33px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 3px;
            margin: auto;
            width: 3px;
        }

        &:not(.selected):hover::before {
            animation: var(--animation);
            animation-name: fade_in;
        }
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
