.sections {
    position: relative;
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}

.section {
    margin: $main_margin;
}

.subsection .name {
    margin: 0;
    font-weight: bold;
    font-size: unset;
    text-decoration: underline;
}

.subsection .name:not(:first-child) {
    margin-top: $main_margin;
}

.ext_version {
    position: absolute;
    bottom: 4px;
    right: 7px;
    font-size: 14px;
    z-index: 1;
}
