.section,
.section_inner,
.help {
    transition: var(--transition);
    transition-property: opacity;
}

.section_btns .section_btn::before {
    transition: var(--transition);
    transition-property: background-color;
}
