$theme_color_jqv: rgb(255 255 255 / 0.1%);

$htc: white;
$tbn: $glass_color;
$gaq: #efefef;
/* stylelint-disable-next-line max-line-length */
$gqb: linear-gradient(45deg, rgb(39 61 213) 0%, rgb(225 5 34 / 0%) 70%) repeat scroll 0% 0%, linear-gradient(135deg, rgb(12 255 7) 10%, rgb(49 5 209 / 0%) 80%) repeat scroll 0% 0%, linear-gradient(190deg, rgb(135 23 255) 10%, rgb(10 219 216 / 0%) 80%) repeat scroll 0% 0%, rgb(0 0 0 / 0%) linear-gradient(315deg, rgb(51 205 196) 100%, rgb(9 245 5 / 0%) 70%) repeat scroll 0% 0%;
$hfb: transparent;
$gvb: rgb(255 255 255 / 36%);
$npw: rgb(255 255 255 / 20%);
$hcx: $theme_color_jqv;
$hev: #bbb;
$hyn: rgb(255 255 255 / 50%);
$fxm: rgb(255 255 255 / 37.5%);
$nur: rgb(255 255 255 / 20.8%);
$yuv: rgb(255 255 255 / 60%);
$vqo: $theme_color_jqv;
$lpe: white;
$rbp: $black;
$mdc: #d9d9d9;
$yos: #16d3f5;
$nep: #90efff;
$htm: #ffa96c;
$qgp: #28dd57;
$hyv: #66ff8e;
$ycp: #0014ff;
$iub: #2e8cff;
$cop: #be1;
$yun: #14bf0a;
$ptn: #ae00ff;
$dwk: #d046e9;
$uzf: #ff8f1f;
$hap: #f17442;
$rqb: #e7121c;
$suc: #d0111a;
$dfp: #0cbea4;
$nqp: rgb(57 124 249 / 99%);
$hgb: rgb(255 77 85 / 99%);
$beu: rgb(255 255 255 / 75%);
