$htc: white;
$tbn: $glass_color;
$gaq: #efefef;
$gqb: two_color_gradient(#0575e6, #00f260); /* two_color_gradient(#0575e6, #00f260) */
$hfb: transparent;
$gvb: rgb(255 255 255 / 36%);
$npw: rgb(255 255 255 / 20%);
$hcx: rgb(255 255 255 / 0.1%);
$hev: #bbb;
$hyn: rgb(255 255 255 / 50%);
$fxm: rgb(255 255 255 / 37.5%);
$nur: rgb(255 255 255 / 20.8%);
$yuv: rgb(255 255 255 / 60%);
$lpe: white;
$rbp: $black;
$yos: #16d3f5;
$nep: #90efff;
$htm: #ffa96c;
$qgp: #28dd57;
$hyv: #66ff8e;
$ycp: #0014ff;
$iub: #2e8cff;
$cop: #be1;
$yun: #14bf0a;
$ptn: #ae00ff;
$dwk: #d046e9;
$uzf: #ff8f1f;
$hap: #f17442;
$rqb: #e7121c;
$suc: #d0111a;
$dfp: #0cbea4;
$nqp: rgb(57 124 249 / 99%);
$hgb: rgb(255 77 85 / 99%);
