$theme_color_ynq: white;
$theme_color_jqv: rgb(255 255 255 / 0.1%);
$theme_color_udl: #19f4ff;
$theme_color_udj: #ff7eee;
$htc: $theme_color_ynq;
$tbn: $glass_color;
$gaq: #efefef;
$gqb: linear-gradient(128deg, #257d2c 0%, #457521 100%);
$hfb: transparent;
$gvb: rgb(255 255 255 / 36%);
$npw: rgb(255 255 255 / 20%);
$hcx: $theme_color_jqv;
$hev: #bbb;
$hyn: rgb(255 255 255 / 50%);
$fxm: rgb(255 255 255 / 37.5%);
$nur: rgb(255 255 255 / 20.8%);
$yuv: rgb(255 255 255 / 60%);
$vqo: $theme_color_jqv;
$lpe: $theme_color_ynq;
$rbp: $black;
$tgp: $theme_color_ynq;
$mdc: #d9d9d9;
$yos: #9e61ef;
$nep: #90efff;
$htm: #ff974d;
$qgp: #1f90ff;
$hyv: #89ff84;
$ycp: #fbff12;
$iub: #2e8cff;
$cop: #4bfcff;
$yun: #14bf0a;
$ptn: #ff98f1;
$dwk: #d046e9;
$uzf: #ffae9e;
$hap: #f15f41;
$rqb: #ff5f66;
$thm: #ff9ea3;
$suc: #d0111a;
$pxd: #fff900;
$ksu: #67ff5f;
$upd: $theme_color_udl;
$fpw: $theme_color_udl;
$dfp: #29ab34;
$pgs: $theme_color_ynq;
$tdu: rgb(219 0 11 / 50%);
$hyp: rgb(13 255 0 / 40%);
$nqp: rgb(244 96 62 / 99%);
$hgb: rgb(255 77 85 / 99%);
$beu: rgb(255 255 255 / 75%);
