$theme_color_ynq: #2a3038;
$theme_color_ytb: #1d2329;
$theme_color_hbt: #42505e;
$theme_color_kdc: white;
$theme_color_ecm: #1b5a17;
$theme_color_uvr: #144581;
$theme_color_kxn: #308af9;
$theme_color_tjn: #09a700;
$theme_color_bvc: #b938c7;
$theme_color_wnc: #ce7209;
$theme_color_yhn: #bb141c;
$theme_color_gsl: rgb(174 35 43 / 99%);

$htc: $theme_color_ynq;
$tbn: $theme_color_ynq;
$gaq: $theme_color_ytb;
$gqb: $theme_color_ytb;
$hfb: $theme_color_ytb;
$gvb: $theme_color_ytb;
$npw: $theme_color_ytb;
$hcx: $theme_color_ytb;
$hev: $theme_color_hbt;
$hyn: $theme_color_hbt;
$fxm: $theme_color_hbt;
$nur: $theme_color_hbt;
$yuv: $theme_color_hbt;
$vqo: $theme_color_hbt;
$lpe: $theme_color_kdc;
$rbp: $theme_color_kdc;
$mdc: #b1b1b1;
$yos: $theme_color_uvr;
$nep: $theme_color_uvr;
$htm: #8d4816;
$qgp: $theme_color_ecm;
$hyv: $theme_color_ecm;
$ycp: $theme_color_kxn;
$iub: $theme_color_kxn;
$cop: $theme_color_tjn;
$yun: $theme_color_tjn;
$ptn: $theme_color_bvc;
$dwk: $theme_color_bvc;
$uzf: $theme_color_wnc;
$hap: $theme_color_wnc;
$rqb: $theme_color_yhn;
$suc: $theme_color_yhn;
$dfp: #29394d;
$nqp: $theme_color_gsl;
$hgb: $theme_color_gsl;
$beu: rgb(0 0 0 / 90%);
