$htc: white;
$tbn: $glass_color;
$gaq: #efefef;
$gqb: two_color_gradient(#1f12e5, #f10d8d); /* two_color_gradient(#0575e6, #00f260) */
$hfb: transparent;
$gvb: rgb(255 255 255 / 36%);
$npw: rgb(255 255 255 / 20%);
$hcx: rgb(255 255 255 / 0.1%);
$hev: #bbb;
$hyn: rgb(255 255 255 / 50%);
$fxm: rgb(255 255 255 / 37.5%);
$nur: rgb(255 255 255 / 20.8%);
$yuv: rgb(255 255 255 / 60%);
$lpe: white;
$rbp: $black;
$yos: #39c2db;
$nep: #90efff;
$htm: #ffa96c;
$qgp: #3ea559;
$hyv: #66ff8e;
$ycp: #19f4ff;
$iub: #2e8cff;
$cop: #4bff1f;
$yun: #14bf0a;
$ptn: #20f;
$dwk: #d046e9;
$uzf: #fbff12;
$hap: #f17442;
$rqb: #ff471a;
$suc: #d0111a;
$dfp: #842fa9;
$nqp: rgb(244 96 62 / 99%);
$hgb: rgb(255 77 85 / 99%);
