$htc: white;
$gaq: #efefef;
$hev: #bbb;
$lpe: $black;
$yos: #c7e0ff;
$htm: #ffbd8e;
$qgp: #beffba;
$ycp: #2e8cff;
$cop: #14bf0a;
$ptn: #ca26dd;
$uzf: #e8720c;
$dfp: #a2d4ff;
$nqp: rgb(255 77 85 / 99%);
