$gaq: #efefef;
$nrf: #ffec82;
$qhv: #ffe02e;
$yos: $light_orange;
$htc: white;
$lpe: $black;
$nqp: rgba(255, 77, 85, 0.99);
$uvi: #afafaf;
$cop: #a1ff83;
$pdv: $blue;
$pec: #ff6565;
$bvs: #0bc700;
$nmy: #eb36ff;
$dfp: #a2d4ff;
$myo: #14bf0a;
$ptn: #d0111a;
$uzf: #ca26dd;
$ycp: #2e8cff;
