$theme_color_ynq: white;
$theme_color_ytb: #efefef;
$theme_color_hbt: #bbb;
$theme_color_kdc: $black;
$theme_color_ecm: #66ff8e;
$theme_color_uvr: #90efff;
$theme_color_kxn: #2e8cff;
$theme_color_tjn: #14bf0a;
$theme_color_bvc: #d046e9;
$theme_color_wnc: #f17442;
$theme_color_yhn: #d0111a;
$theme_color_gsl: rgb(255 77 85 / 99%);

$htc: $theme_color_ynq;
$tbn: $theme_color_ynq;
$gaq: $theme_color_ytb;
$gqb: $theme_color_ytb;
$hfb: $theme_color_ytb;
$gvb: $theme_color_ytb;
$npw: $theme_color_ytb;
$hcx: $theme_color_ytb;
$hev: $theme_color_hbt;
$hyn: $theme_color_hbt;
$fxm: $theme_color_hbt;
$nur: $theme_color_hbt;
$yuv: $theme_color_hbt;
$lpe: $theme_color_kdc;
$rbp: $theme_color_kdc;
$yos: $theme_color_uvr;
$nep: $theme_color_uvr;
$htm: #ffa96c;
$qgp: $theme_color_ecm;
$hyv: $theme_color_ecm;
$ycp: $theme_color_kxn;
$iub: $theme_color_kxn;
$cop: $theme_color_tjn;
$yun: $theme_color_tjn;
$ptn: $theme_color_bvc;
$dwk: $theme_color_bvc;
$uzf: $theme_color_wnc;
$hap: $theme_color_wnc;
$rqb: $theme_color_yhn;
$suc: $theme_color_yhn;
$dfp: #a2d4ff;
$nqp: $theme_color_gsl;
$hgb: $theme_color_gsl;
