$theme_color_ynq: white;
$theme_color_jqv: rgb(255 255 255 / 0.1%);
$theme_color_tdh: #67ff5f;
$theme_color_udj: #19f4ff;
$htc: $theme_color_ynq;
$tbn: $glass_color;
$gaq: #efefef;
$gqb: linear-gradient(128deg, #ad1734 0%, #97286a 100%);
$hfb: transparent;
$gvb: rgb(255 255 255 / 36%);
$npw: rgb(255 255 255 / 20%);
$hcx: $theme_color_jqv;
$hev: #bbb;
$hyn: rgb(255 255 255 / 50%);
$fxm: rgb(255 255 255 / 37.5%);
$nur: rgb(255 255 255 / 20.8%);
$yuv: rgb(255 255 255 / 60%);
$vqo: $theme_color_jqv;
$lpe: $theme_color_ynq;
$rbp: $black;
$tgp: $theme_color_ynq;
$mdc: #d9d9d9;
$yos: #42b326;
$nep: #90efff;
$htm: #ff974d;
$qgp: #1f90ff;
$hyv: #89ff84;
$ycp: #fbff12;
$iub: #2e8cff;
$cop: $theme_color_tdh;
$yun: #14bf0a;
$ptn: #1a44ff;
$dwk: #d046e9;
$uzf: #4bfcff;
$hap: #f15f41;
$rqb: #ff8513;
$thm: #ffa78f;
$suc: #d0111a;
$pxd: #fff900;
$ksu: $theme_color_tdh;
$upd: $theme_color_udj;
$fpw: $theme_color_udj;
$dfp: #c71538;
$pgs: $theme_color_ynq;
$tdu: rgb(255 141 34 / 50%);
$hyp: rgb(13 255 0 / 40%);
$nqp: rgb(255 84 169 / 99%);
$hgb: rgb(255 77 85 / 99%);
$beu: rgb(255 255 255 / 75%);
