$theme_color_ynq: #0a0e14;
$theme_color_ytb: #000308;
$theme_color_hbt: #1f2c40;
$theme_color_kdc: #e5e5e5;
$theme_color_ecm: #133e10;
$theme_color_uvr: #0e2e54;
$theme_color_kxn: #2176de;
$theme_color_tjn: #089200;
$theme_color_bvc: #af22bf;
$theme_color_wnc: #c96b00;
$theme_color_yhn: #b1131a;
$theme_color_gsl: rgb(120 30 34 / 99%);

$htc: $theme_color_ynq;
$tbn: $theme_color_ynq;
$gaq: $theme_color_ytb;
$gqb: $theme_color_ytb;
$hfb: $theme_color_ytb;
$gvb: $theme_color_ytb;
$npw: $theme_color_ytb;
$hcx: $theme_color_ytb;
$hev: $theme_color_hbt;
$hyn: $theme_color_hbt;
$fxm: $theme_color_hbt;
$nur: $theme_color_hbt;
$yuv: $theme_color_hbt;
$vqo: $theme_color_hbt;
$lpe: $theme_color_kdc;
$rbp: $theme_color_kdc;
$mdc: #8d8d8d;
$yos: $theme_color_uvr;
$nep: $theme_color_uvr;
$htm: #583013;
$qgp: $theme_color_ecm;
$hyv: $theme_color_ecm;
$ycp: $theme_color_kxn;
$iub: $theme_color_kxn;
$cop: $theme_color_tjn;
$yun: $theme_color_tjn;
$ptn: $theme_color_bvc;
$dwk: $theme_color_bvc;
$uzf: $theme_color_wnc;
$hap: $theme_color_wnc;
$rqb: $theme_color_yhn;
$suc: $theme_color_yhn;
$pxd: $theme_color_kxn;
$ksu: $theme_color_tjn;
$upd: $theme_color_bvc;
$fpw: $theme_color_wnc;
$dfp: #0f1721;
$nqp: $theme_color_gsl;
$hgb: $theme_color_gsl;
$beu: rgb(0 0 0 / 90%);
