$gaq: #000308;
$nrf: #1d293b;
$qhv: #264061;
$yos: #262c33;
$htc: #0a0e14;
$lpe: #e5e5e5;
$nqp: rgba(120, 30, 34, 0.99);
$uvi: #1f1f1f;
$cop: #1d4025;
$pdv: #e1e56a;
$pec: #e57a7a;
$bvs: #6be565;
$nmy: #dc85e5;
$dfp: #0f1721;
$myo: #089200;
$ptn: #bd141c;
$uzf: #af22bf;
$ycp: #2176de;
