$htc: #0a0e14;
$gaq: #000308;
$hev: #1f2c40;
$lpe: #e5e5e5;
$yos: #0e2e54;
$htm: #583013;
$qgp: #133e10;
$ycp: #2176de;
$cop: #089200;
$ptn: #af22bf;
$uzf: #c96b00;
$rqb: #b1131a;
$dfp: #0f1721;
$nqp: rgb(120 30 34 / 99%);
