@import 'normalize.css';
@import '../all';
@import '../vars';
@import '../mixins';
@import '../mods';
@import '../text';
@import '../crash_handler';
@import '../close_btn';

body,
button {
    color: white;
}

.main {
    @include max_z_index;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    background-color: #da4747;
    color: white;
}

.error {
    .msg {
        white-space: pre-wrap;
        text-align: center;
        padding: 10px;
        padding-top: $error_msg_offset_top;
    }

    .ext_name {
        position: absolute;
        top: $ext_name_offset;
        left: $ext_name_offset;
    }

    .more_info_btn {
        @include btn();
        @include outline_solid();

        outline-color: white;
        background-color: transparent;
        display: table;
        margin: auto;
        margin-top: 6px;
        padding: 3px 6px;
        cursor: pointer;
        white-space: nowrap;
    }

    .more_info_btn:hover {
        color: $black;
        background-color: white;
    }

    .more_info_btn:focus,
    .close_btn:focus {
        @include outline_solid_thick;

        outline-color: $black;
    }

    &.positive {
        background-color: #40af49;
    }

    &.neutral {
        background-color: #4d94ea;
    }

    &.is_highlighted {
        background-color: #e28036;
    }
}
