@import 'normalize.css';
@import '../all';
@import '../vars';
@import '../mixins';
@import '../mods';
@import '../text';
@import '../crash_handler';

$ext_name_offset: 7px;

body,
button {
    color: white;
}

.main {
    @include max_z_index;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border: none;
    overflow: hidden;
    background-color: #da4747;
    color: white;
}

.error {
    .msg {
        white-space: pre-wrap;
        text-align: center;
        padding: 10px;
        padding-top: 40px;
    }

    .ext_name {
        position: absolute;
        top: $ext_name_offset;
        left: $ext_name_offset;
    }

    .close_btn {
        @include btn();
        position: absolute;
        top: $ext_name_offset;
        right: $ext_name_offset;

        &:focus {
            outline-offset: $outline_offset;
        }

        svg {
            display: block;
            fill: white;
            height: 20px;
            width: 20px;
        }
    }

    .more_info_btn {
        @include btn();
        @include outline_solid();
        outline-color: white;
        background-color: transparent;
        display: table;
        margin: auto;
        margin-top: 6px;
        padding: 3px 6px 3px 6px;
        cursor: pointer;
        white-space: nowrap;
    }

    .more_info_btn:hover {
        color: $black;
        background-color: white;
    }

    .more_info_btn:focus,
    .close_btn:focus {
        @include outline_solid_thick;
        outline-color: $black;
    }

    &.is_notification {
        background-color: #4d94ea;
    }

    &.is_highlighted {
        background-color: #e28036;
    }
}
