@use 'normalize.css';
@use '../all';
@use '../vars';
@use '../mixins';
@use '../mods';
@use '../text';
@use '../crash_handler';
@use '../close_btn';

body,
button {
    color: white;
}

.main {
    @include mixins.max_z_index;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    background-color: #da4747;
    color: white;
}

.error {
    .body {
        position: relative;

        .top_stuff {
            display: flex;
            align-items: start;

            .ext_name_and_keep_visible_msg {
                flex-grow: 1;
            }
        }
    }

    .progress {
        appearance: none;
        display: block;
        width: 100%;
        height: 8px;
        border: none;
        background: transparent;

        &::-webkit-progress-bar {
            background-color: transparent;
        }

        &::-webkit-progress-value,
        &::-moz-progress-bar {
            background-color: #ffe81a;
        }
    }

    .keep_visible_msg {
        font-size: vars.$font_small;
        margin-left: vars.$ext_name_offset;
        margin-top: 2px;
    }

    .msg {
        white-space: pre-wrap;
        text-align: center;
        padding: 10px;
        padding-top: 12px;
    }

    .ext_name {
        margin-top: vars.$ext_name_offset;
        margin-left: vars.$ext_name_offset;
    }

    .more_info_btn {
        @include mixins.btn;
        @include mixins.outline_solid;

        outline-color: white;
        background-color: transparent;
        display: table;
        margin: auto;
        margin-top: 6px;
        padding: 3px 6px;
        cursor: pointer;
        white-space: nowrap;
    }

    .more_info_btn:hover {
        color: vars.$black;
        background-color: white;
    }

    .more_info_btn:focus,
    .close_btn:focus {
        @include mixins.outline_solid_thick;

        outline-color: vars.$black;
    }

    &.positive {
        background-color: #40af49;
    }

    &.neutral {
        background-color: #4d94ea;
    }

    &.is_highlighted {
        background-color: #e28036;
    }
}
