@use 'normalize.css';
@use '../all';
@use '../mixins';
@use '../transitions';
@use '../mods';
@use '../crash_handler';

$svg_size: 110px;
$window_mode_svg_size: 64px;

.main {
    @include mixins.full_spread;
    @include mixins.max_z_index;

    position: fixed;
    top: 0;
    margin: 0;
    background-color: white;
    border-style: solid;
    border-width: 0;
    cursor: wait;
}

svg {
    @include mixins.center_translate;

    position: absolute;
    height: $svg_size;
    width: $svg_size;
}

.small_svg svg {
    height: $window_mode_svg_size;
    width: $window_mode_svg_size;
}
