$icon_btn_size: 20px;

.btn {
    @include btn;

    position: relative;

    &.side_btn {
        svg {
            @include text_btn_svg;
        }
    }
}

.btn.text {
    @include border_transparent;
    @include outline_solid;

    border-radius: 0;
    height: $input_height;
    padding: 0 $input_inner_padding;
    display: table;
    box-sizing: border-box;

    &:not(:first-child) {
        margin-top: $gap;
    }

    &.color_ok_btn {
        margin-left: auto !important;
    }
}

.btn_w {
    @include border_transparent;

    display: table;

    &:not(:first-child) {
        margin-top: $gap;
    }

    .shadow {
        @include full_spread;

        position: absolute;
    }

    &.icon_btn {
        border-radius: 0;
        position: relative;
        vertical-align: bottom;
        background-color: transparent;

        &:not(:first-child) {
            margin-left: $gap !important;
        }

        svg {
            display: block;
            width: $icon_btn_size;
            height: $icon_btn_size;
        }
    }

    .btn.text {
        border: none;
    }
}

.icon_btn .btn,
.side_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $side_btn_height;
    height: $side_btn_height;
    margin-right: $gap;
}

.icon_btn .btn {
    margin-right: 0;
}
