$icon_btn_size: 20px;

.btn {
    @include btn;

    position: relative;

    .shadow {
        @include full_spread;

        position: absolute;
    }

    svg {
        display: block;
    }
}

.btn.icon_btn {
    border-radius: 0;
    position: relative;
    vertical-align: bottom;
    background-color: transparent;

    &:not(:first-child) {
        margin-left: $gap !important;
    }

    svg {
        width: $icon_btn_size;
        height: $icon_btn_size;
    }
}

.btn.text {
    @include border_transparent;
    @include outline_solid;

    border-radius: 0;
    height: $input_height;
    padding: 0 $input_inner_padding 0 $input_inner_padding;
    display: table;
    box-sizing: border-box;

    &:not(:first-child) {
        margin-top: $gap;
    }

    &.color_ok_btn {
        margin-left: auto !important;
    }

    &.icon_btn {
        svg {
            width: $icon_btn_size;
            height: $icon_btn_size;
        }
    }
}

.btn_w {
    @include border_transparent;

    display: table;

    &:not(:first-child) {
        margin-top: $gap;
    }

    .btn.text {
        border: none;
    }
}

.btn_options {
    @include border;

    backdrop-filter: $glass_blur;
    box-shadow: $black_shadow;

    .btn_option {
        @include btn;

        display: block;
        width: 100%;
        padding: 3px 6px;
        border: 0;
        text-align: left;
        background-color: transparent;
        cursor: pointer;
        box-sizing: border-box;
        color: unset;
        text-decoration: none;
        white-space: nowrap;
    }

    hr {
        margin-top: 0;
    }
}

.keyboard .btn_options .btn_option:focus {
    @include outline_solid_thick;

    outline-offset: -1px;
}
