@use 'vars';
@use 'mixins';

$side_btn_height: vars.$input_height + (vars.$border_width * 2);

.btn {
    @include mixins.btn;

    position: relative;

    &.side_btn {
        svg {
            @include mixins.text_btn_svg;
        }
    }
}

.btn.text {
    padding: 0 vars.$input_inner_padding;

    @include mixins.border_transparent;
    @include mixins.outline_solid;

    height: vars.$input_height;
    border-radius: 0;
    display: table;
    box-sizing: border-box;

    &:not(:first-child) {
        margin-top: vars.$gap;
    }

    &.color_ok_btn {
        margin-left: auto !important;
    }
}

.btn_w {
    @include mixins.border_transparent;

    display: table;

    &:not(:first-child) {
        margin-top: vars.$gap;
    }

    .shadow {
        @include mixins.full_spread;

        position: absolute;
    }

    &.icon_btn {
        border-radius: 0;
        position: relative;
        vertical-align: bottom;
        background-color: transparent;

        &:not(:first-child) {
            margin-left: vars.$gap !important;
        }

        svg {
            display: block;
            width: vars.$icon_btn_size;
            height: vars.$icon_btn_size;
        }
    }

    .btn.text {
        border: none;
    }
}

.icon_btn .btn,
.side_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $side_btn_height;
    height: $side_btn_height;
    margin-right: vars.$gap;
}

.icon_btn .btn {
    margin-right: 0;
}
