@use 'vars';
@use 'mixins';

$checkmark_box_size: 22px;
$checkmark_size: 18px;

.input_item {
    &.checkbox {
        input {
            display: none;
        }

        .wrap_label {
            @include mixins.center_flex;
            @include mixins.border_transparent;

            margin-right: vars.$input_content_gap;
        }

        .box {
            @include mixins.center_flex;
            @include mixins.outline_solid;

            height: $checkmark_box_size;
            width: $checkmark_box_size;
            cursor: pointer;
        }

        .box svg {
            width: $checkmark_size;
            height: $checkmark_size;
        }

        input + .box svg {
            opacity: 0;
        }

        input:checked + .box svg {
            opacity: 1;
        }
    }
}
