@use 'vars';
@use 'mixins';

.close_btn {
    @include mixins.btn;

    margin-top: vars.$ext_name_offset;
    margin-right: vars.$ext_name_offset;
    margin-left: vars.$gap;

    &:focus {
        outline-offset: 2px;
    }

    svg {
        display: block;
        fill: white;
        height: 20px;
        width: 20px;
    }
}
