.close_btn {
    @include btn;

    margin-top: $ext_name_offset;
    margin-right: $ext_name_offset;
    margin-left: $gap;

    &:focus {
        outline-offset: 2px;
    }

    svg {
        display: block;
        fill: white;
        height: 20px;
        width: 20px;
    }
}
