$palette_visualization_w_border_offset: 1 * 2;

.input_item {
    &.color .label_in_input_item {
        align-self: normal;
    }

    .inner_w {
        position: absolute;
        height: $color_input_height;
        align-self: center;
        order: -1;
    }

    .main_visualization_w {
        height: fit-content;
        display: flex;
        align-self: center;
    }

    .visualization_w {
        display: flex;
        align-items: center;
        margin-right: $input_content_gap;
    }

    .visualization {
        border: 0;
        outline: none;
        min-width: $color_input_height;
        height: $color_input_height;
        cursor: pointer;
        border-radius: 0;
    }

    .palette_visualization_w {
        display: inline-flex;
        padding: 0;
        margin-right: $gap + $palette_visualization_w_border_offset;
        margin-bottom: $gap + $palette_visualization_w_border_offset;
        cursor: pointer;

        &:nth-child(10),
        &:nth-child(20),
        &:nth-child(30) {
            margin-right: 0;
        }

        &:nth-child(n + 21) {
            margin-bottom: 0;
        }
    }

    .palette_visualization {
        border: 0;
        outline: none;
        width: $color_input_height;
        height: $color_input_height;
        cursor: pointer;
        border-radius: 0;
    }

    .fill_shadow_w {
        position: absolute;
        top: $input_content_gap + $input_content_gap;
        left: 0;
    }

    .fill_shadow {
        position: fixed;
        display: block;
        visibility: hidden;
    }

    .palette_w {
        z-index: 2;
        position: absolute;
        top: $input_content_gap + $input_content_gap;
        left: 0;
    }

    .palette {
        @include box_shadow;

        position: fixed;
        padding: 10px;
        width: 410px;
        line-height: 0;
    }
}
