@use 'vars';
@use 'mixins';

$input_height: vars.$input_height + (vars.$border_width * 4) - 2;
$palette_visualization_w_border_offset: vars.$border_width * 2;

.input_item {
    &.color .label_in_input_item {
        align-self: center;
    }

    .inner_w {
        position: absolute;
        height: $input_height;
        align-self: center;
        order: -1;
    }

    .main_visualization_w {
        height: fit-content;
        display: flex;
        align-self: center;
    }

    .visualization_w {
        display: flex;
        align-items: center;
        margin-right: vars.$input_content_gap;
    }

    .visualization {
        border: 0;
        outline: none;
        min-width: $input_height;
        height: $input_height;
        cursor: pointer;
        border-radius: 0;
    }

    .palette_visualization_w {
        display: inline-flex;
        padding: 0;
        margin-right: vars.$gap + $palette_visualization_w_border_offset;
        margin-bottom: vars.$gap + $palette_visualization_w_border_offset;
        cursor: pointer;

        &:nth-child(10),
        &:nth-child(20),
        &:nth-child(30) {
            margin-right: 0;
        }

        &:nth-child(n + 21) {
            margin-bottom: 0;
        }
    }

    .palette_visualization {
        border: 0;
        outline: none;
        width: $input_height;
        height: $input_height;
        cursor: pointer;
        border-radius: 0;
    }

    .fill_shadow_w {
        position: absolute;
        top: vars.$input_content_gap + vars.$input_content_gap;
        left: 0;
    }

    .fill_shadow {
        position: fixed;
        display: block;
        visibility: hidden;
    }

    .palette_w {
        z-index: 3;
        position: absolute;
        top: vars.$input_content_gap + vars.$input_content_gap;
        left: 0;
    }

    .palette {
        @include mixins.box_shadow;

        position: fixed;
        padding: 10px;
        width: 410px;
        line-height: 0;
    }
}
