/* stylelint-disable selector-class-pattern */

$pcr_picker_size: 16px;
$btn_padding: 6px;

.input_item {
    .pcr-app,
    .pcr-last-color,
    .pcr-palette,
    .pcr-current-color,
    .pcr-slider,
    .color_picker_w input {
        border-radius: 0 !important;
    }

    .pcr-palette,
    .pcr-slider {
        @include border;
    }

    .color_picker_w {
        position: absolute;
        z-index: 3;
        top: $input_height + $input_content_gap;
        left: 0;
        user-select: none;

        input {
            @include outline_solid;

            filter: initial !important;

            &:not(.pcr-result) {
                padding: $btn_padding $btn_padding 5px $btn_padding;
            }
        }
    }

    .color_picker {
        position: fixed;
    }

    .pcr-app {
        @include box_shadow_important;

        position: relative !important;
        left: initial !important;
        top: initial !important;
        width: fit-content !important;
        padding: $gap !important;
        transition: none !important;
    }

    .pcr-picker {
        width: $pcr_picker_size !important;
        height: $pcr_picker_size !important;
        border-width: 1px !important;
    }

    .pcr-color-preview {
        @include border;

        margin-bottom: $gap !important;
    }

    .pcr-swatches {
        margin-top: 2px !important;
    }

    .pcr-interaction {
        margin-left: -2px !important;
        margin-right: -1px !important;
        margin-bottom: 1px !important;
        white-space: nowrap;
        display: unset !important;
    }

    .pcr-result {
        width: calc(100% - 5px);
        display: block;
        margin-top: 9px !important;
        padding-top: 6px !important;
        margin-bottom: 2px !important;
    }

    .pcr-color-chooser {
        margin-top: $gap !important;
    }

    .pcr-type {
        margin-right: 5px !important;
    }
}
