.input_item {
    &.color .label {
        align-self: normal;
    }

    .visualization_w {
        display: flex;
    }

    .visualization {
        @include border;

        outline: none;
        margin-right: $input_content_gap;
        width: $color_input_height;
        height: $color_input_height;
        cursor: pointer;
        border-radius: 0;
    }

    .palette_visualization_w {
        display: inline-block;
        padding: 0;
        margin-right: $gap;
        margin-bottom: $gap;
        cursor: pointer;

        &:nth-child(10),
        &:nth-child(20),
        &:nth-child(30) {
            margin-right: 0;
        }

        &:nth-child(n + 21) {
            margin-bottom: 0;
        }
    }

    .palette_visualization {
        @include border;

        outline: none;
        width: $color_input_height;
        height: $color_input_height;
        cursor: pointer;
        border-radius: 0;
    }

    .fill_shadow_w {
        position: absolute;
        top: $input_content_gap + $input_content_gap;
        left: 0;
    }

    .fill_shadow {
        position: fixed;
        display: block;
        visibility: hidden;
    }

    .palette_w {
        z-index: 2;
        position: absolute;
        top: $input_content_gap + $input_content_gap;
        left: 0;
    }

    .palette {
        @include border;
        @include box_shadow;

        position: fixed;
        padding: 10px;
        width: 410px;
        line-height: 0;
    }
}
