@use 'vars';
@use 'mixins';

.reload_ui_btn_w {
    @include mixins.full_spread;
    @include mixins.center_flex;

    position: fixed;
    visibility: hidden;

    .btn {
        @include mixins.btn;
        @include mixins.outline_solid;

        outline-color: vars.$black;
        visibility: visible;
        color: vars.$black;
        background-color: vars.$light_orange;
        padding: 6px 12px;
        width: max-content;
        font-size: 21px;

        &:hover {
            background-color: vars.$blue;
            color: white;
        }

        &:active {
            background-color: vars.$yellow;
            color: vars.$black;
        }

        &:focus {
            @include mixins.outline_solid_thick;

            outline-color: #293fe2;
        }
    }
}
