$flash_texty_color: white;
$flash_offset: 22px;

.flash {
    position: fixed;
    top: $flash_offset;
    right: $flash_offset;
    width: max-content;
    max-width: 700px;
    color: $flash_texty_color;
    box-shadow: $black_shadow;

    .msg {
        padding: $gap;
        padding-top: $error_msg_offset_top;
    }
}

.keyboard .flash .close_btn:focus {
    @include outline_solid_thick;

    outline-color: $flash_texty_color;
}
