/* stylelint-disable no-descending-specificity, selector-class-pattern */

$text_input_outline_size: 20px;

.input_item .pcr-interaction input:focus {
    box-shadow: none !important;
}

.keyboard .input_item .pcr-palette:focus,
.keyboard .input_item .pcr-slider:focus,
.keyboard .input_item .pcr-picker:focus,
.input_item .pcr-result:focus,
.keyboard .input_item .color_picker_w input:not(.pcr-result):focus {
    box-shadow: none;
}

.keyboard .input_item .pcr-palette:focus,
.keyboard .input_item .pcr-slider:focus,
.keyboard .input_item .pcr-picker:focus,
.input_item .pcr-result:focus,
.keyboard .input_item .color_picker_w input:not(.pcr-result):focus,
.keyboard .btn.text_input:focus::before,
body.keyboard .btn.text:focus,
.keyboard .btn.icon:focus,
.keyboard .input_item .checkbox .box:focus,
.keyboard .link:focus,
.keyboard .link_btn:focus,
.keyboard .help_btn:focus,
.keyboard .input_item .input_w:not(.text):not(.textarea).is_in_focus_state::before,
.keyboard .input_item.range .input.is_in_focus_state {
    @include outline_solid_thick;
}

.keyboard .input_item .pcr-palette:focus,
.keyboard .input_item .pcr-slider:focus,
.keyboard .link:focus,
.keyboard .link_btn:focus,
.keyboard .help_btn:focus,
.keyboard .btn.icon:focus,
.keyboard .input_item.range .input.is_in_focus_state {
    outline-offset: $outline_offset;
}

.input_item .palette_visualization_w.selected:not(.opened) .palette_visualization {
    @include outline_solid_thick;

    outline-offset: $outline_offset;
}

.input_item .visualization_w.opened .visualization,
.input_item .palette_visualization_w.opened .palette_visualization {
    @include outline_dashed_thick;

    outline-offset: $outline_offset;
}

.keyboard .input_item .visualization_w .visualization:focus,
.keyboard .input_item .palette_visualization_w .palette_visualization:focus {
    @include outline_solid_thick;

    outline-offset: $outline_offset;
}

.keyboard .input_item .visualization_w.opened .visualization:focus,
.keyboard .input_item .palette_visualization_w.opened .palette_visualization:focus {
    @include outline_dashed_thick;
}

.keyboard .btn.text_input:focus::before {
    content: '';
    position: absolute;
    width: $text_input_outline_size;
    height: $text_input_outline_size;
    top: 4px;
    left: -2px;
}

.reload_ui_btn_w .keyboard .btn:focus {
    @include blue_border;
}
