.input_item.group:not(.is_column_layout) {
    .input_item {
        margin-top: 0;

        &.range {
            width: 100%;
        }
    }

    .input_w.group {
        display: flex;
        align-items: center;

        .input_w.range {
            width: 100%;
        }

        .btn_w {
            display: flex;
            flex-grow: 1;

            .btn {
                width: 100%;
            }
        }

        & > * {
            margin-top: 0;
        }

        & > .btn_w:not(:last-child) {
            margin-right: $gap;
        }
    }
}

.input_item.group.is_column_layout > .input_item_inner > .input_w_and_help_btn > .input_w {
    display: flex;
    flex-direction: column;
}
