.help,
.color_help {
    @include folding_text;
}

.help_btn {
    @include btn;

    margin-left: var(--help_btn_margin);
    display: flex;
    order: 1;

    svg {
        display: block;
        width: var(--help_btn_size);
        height: var(--help_btn_size);
    }
}

.section_help {
    display: flex;
    margin-bottom: $gap;

    &:empty {
        display: none;
    }

    + .subsection {
        margin-top: $gap;
    }

    .help {
        max-width: unset;
        margin-top: 0;
        margin-right: 15px;
    }

    .help_btn {
        margin-left: auto;
        align-self: flex-start;
    }
}

.input_item {
    .color_help_w {
        margin-bottom: $gap;
    }

    .color_help {
        margin: 0;
        line-height: initial;
    }

    &:not(.textarea) .help_btn {
        align-self: center;
    }

    &.textarea {
        .input_w_and_help_btn {
            align-items: normal;
        }

        .help_btn {
            margin-top: 5px;
            display: inline-block;
            height: max-content;
        }
    }
}
