@use 'vars';
@use 'mixins';

.btn_w.icon_btn {
    @include mixins.btn;

    display: flex;
    align-items: center;
    cursor: pointer;

    .label_in_input_item_w {
        margin-left: vars.$gap;

        .label_in_input_item {
            cursor: pointer;
        }
    }
}
