input[type='file'] {
    display: none;
}

.input_item_form {
    margin-bottom: 0;
}

.label:not(:first-child) {
    margin-top: $gap;
}

.input_item {
    padding-right: $main_margin;
    margin-left: unset;
    justify-content: unset;
    align-items: end;
    display: flex;
    width: auto;

    &.checkbox {
        align-items: center;
    }

    .input_item_inner {
        width: 100%;
    }

    &.child {
        margin-left: 28px;
    }

    &:not(:first-child) {
        margin-top: $gap;
    }

    .label_in_input_item_w {
        display: flex;
        align-items: center;
        height: unset;
        margin-right: 0;
        white-space: normal;
    }

    &.text,
    &.textarea,
    &.select,
    &.range,
    &.upload_box,
    &.group {
        .label_in_input_item_w:not(:empty) {
            margin-bottom: $gap_small;
        }
    }

    .input {
        @include input_basic;

        width: inherit;
        opacity: 1; // needed to keep default color when element is is_enabled
        height: $input_height;
        padding: 0 $input_inner_padding;
        flex-grow: 1;
        border-radius: 0;
        box-sizing: border-box;

        &.text {
            line-height: $input_height;
        }
    }

    .input_w_and_help_btn {
        display: flex;
        align-items: center;
    }

    .input_w {
        position: relative;
        display: flex;
        box-sizing: border-box;

        &.text,
        &.textarea,
        &.select {
            @include border_transparent;
        }

        .main_visualization_w {
            @include border_transparent;
        }

        &.is_in_focus_state:not(.select)::before,
        &.is_in_warn_state:not(.select)::before {
            @include outline_solid_thick;
        }
    }
}
