.inset_border {
    position: relative;

    &::before {
        @include outline_solid;

        content: '';
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}
