@use 'mixins';

.inset_border {
    position: relative;

    &::before {
        @include mixins.outline_solid;

        content: '';
        position: absolute;
        pointer-events: none;
        inset: 0;
        z-index: 1;
    }
}
