.link_btn_w {
    @include btn;

    display: block;

    .link_btn {
        display: block;
    }
}

.palette {
    .link_btn_w.hide {
        margin-top: $gap_small;
    }

    .link_btn {
        font-size: $font_small;
    }
}

.palette_link_btns .link_btn_w {
    margin-bottom: $gap;
}
