.link {
    display: table;
    text-decoration: none;
    border: 0;
    padding: 0;
    cursor: pointer;

    &.svg {
        svg {
            display: block;
            width: $icon_btn_size;
            height: $icon_btn_size;
        }
    }
}

.link:not(:first-child) {
    margin-top: $gap;
}
