.link_btn {
    @include btn;

    display: block;
    font-size: $font_small;

    &.hide {
        margin-top: 4px;
    }

    &.show_content,
    &.hide_content {
        margin-bottom: $gap;
        font-size: $font_main;
    }
}

.palette_link_btns .link_btn {
    margin-bottom: $gap;
}
