@use 'vars';
@use 'mixins';

.link_btn_w {
    @include mixins.btn;

    display: block;

    .link_btn {
        display: flex;
    }
}

.palette {
    .link_btn_w.hide {
        margin-top: vars.$gap_small;
    }

    .link_btn {
        font-size: vars.$font_small;
    }
}

.palette_link_btns .link_btn_w {
    margin-bottom: vars.$gap;
}
