.offers {
    overflow: auto;
    flex-shrink: 0;

    .offers_inner {
        display: flex;
        flex-flow: column;
    }

    .top_bar {
        display: flex;
        justify-content: end;
        order: 1;
        margin-top: $gap;

        .visible {
            position: absolute;
        }

        .shadow {
            visibility: hidden;
        }
    }

    .offer {
        img {
            @include border;

            display: block;
            margin-right: $main_margin;
        }

        p {
            margin: 0;

            + a {
                margin-top: $gap_small;
                display: block;
                width: fit-content;
            }
        }
    }

    .ad_label {
        flex-grow: 1;

        div {
            @include outline_solid;

            display: inline-block;
            outline-offset: -1px;
            padding: 0 7px;
        }
    }
}
