.offers {
    overflow: auto;
    flex-shrink: 0;

    .top_bar {
        display: flex;
        justify-content: end;
        margin-bottom: $gap;

        .visible {
            position: absolute;
        }

        .shadow {
            visibility: hidden;
        }
    }

    .offer {
        img {
            @include border;

            display: block;
            margin-right: $main_margin;
        }

        p {
            margin: 0;

            + a {
                margin-top: $gap_small;
                display: block;
                width: fit-content;
            }
        }
    }
}
