$range_track_height: 12px;
$lower_fill_offset_top: 8px;

.input_item {
    .range {
        .input {
            min-width: inherit;
            appearance: none;
            padding: 0;
            background-color: transparent;
            cursor: pointer;

            &::-webkit-slider-thumb {
                appearance: none;
                width: $range_track_height;
                height: $input_height;
                margin-top: -$lower_fill_offset_top;
            }

            &::-webkit-slider-runnable-track {
                @include outline_solid;

                height: $range_track_height;
                outline-offset: -1px;
            }
        }

        .lower_fill {
            position: absolute;
            height: $range_track_height;
            top: $lower_fill_offset_top;
            pointer-events: none;
        }
    }

    .displayed_val {
        font-size: $font_small;
        width: max-content;
        margin-left: auto;
        margin-top: $gap_small;

        &.help_is_present {
            margin-right: $input_height;
        }
    }
}
