.main,
.content,
button,
input {
    font-family: u6Pgzb39sNF, sans-serif;
    font-size: 17px;
}

.input_item {
    -moz-appearance: textfield;

    .input {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
    }
}
