/* stylelint-disable selector-class-pattern */

.loading_screen,
.input_item,
.input_w,
.checkbox .box svg,
.color_picker_w,
.palette_w,
.color_help_w,
.btn_options,
.offers {
    transition: var(--transition);
    transition-property: opacity;
}

.upload_box .background,
.btn_options .btn_option {
    transition: var(--transition);
    transition-property: background-color;
}

.btn_w,
.btn:not(.reload_ui, .link_btn) {
    transition: var(--transition);
    transition-property: opacity, background-color;
}

.link,
.link_btn {
    transition: var(--transition);
    transition-property: color;

    &:active {
        transition: none;
    }
}

.btn.icon_btn,
.link.svg {
    svg {
        transition: var(--transition);
        transition-property: fill;

        &:active {
            transition: none;
        }
    }
}

.color_picker_w input {
    transition: var(--transition) !important;
    transition-property: background-color !important;
}

.pcr-last-color,
.pcr-result {
    transition: none !important;
}
