/* stylelint-disable selector-class-pattern */

.loading_screen,
.checkbox .box svg,
.color_picker_w,
.palette_w,
.color_help_w {
    transition: var(--transition);
    transition-property: opacity;
}

.upload_box .background {
    transition: var(--transition);
    transition-property: background-color;
}

.btn:not(.reload_ui):not(.link_btn) {
    transition: var(--transition);
    transition-property: opacity, background-color;
}

.link,
.link_btn {
    transition: var(--transition);
    transition-property: color;
}

.color_picker_w input {
    transition: var(--transition) !important;
    transition-property: background-color !important;
}

.pcr-last-color,
.pcr-result {
    transition: none !important;
}
