$upload_box_text_z_index: 2;
$upload_box_loading_animation_size: 40px;

$backgrond_margin: 2px;
$backgrond_dim_offset: 2px * 2;

.input_item {
    .upload_box {
        @include border_transparent;

        position: relative;
        height: 104px;
        text-align: center;
        outline-width: 3px;
        outline-style: dashed;
        outline-offset: -3px;

        .what_to_do_msg {
            @include center_translate;

            position: absolute;
            padding-right: $gap;
            padding-left: $gap;
            z-index: $upload_box_text_z_index;
            width: 100%;
            box-sizing: border-box;
        }

        .browse {
            display: inline;
            font-size: $font_main;
            opacity: 1 !important; // needed to keep default color when element is is_enabled
        }

        .status_msg {
            width: 100%;
            font-size: $font_small;
            margin-bottom: 5px;
            z-index: $upload_box_text_z_index;
        }

        .background {
            position: absolute;
            width: calc(100% - #{$backgrond_dim_offset});
            height: calc(100% - #{$backgrond_dim_offset});
            display: flex;
            align-items: end;
            box-sizing: border-box;
            margin: $backgrond_margin;

            &.loading {
                animation: move 450ms linear infinite;
                background-size: $upload_box_loading_animation_size $upload_box_loading_animation_size;
            }
        }
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 0;
    }
}
