$font_main: 17px;
$font_big: 24px;
$font_small: 13px;
$gap: 10px;
$gap_small: 4px;
$border_width: 1px;
$border_width_thick: 2px;
$input_height: 28px;
$input_height_with_border: 28px + ($border_width * 2);
$icon_btn_size: 20px;
$input_content_gap: 8px;
$input_inner_padding: 7px;
$main_margin: 16px;
$ext_name_offset: 7px;
$main_margin_2: $main_margin * 2;
$main_margin_4: $main_margin * 4;
$black: #212121;
$yellow: #fbff75;
$light_orange: #fff7c7;
$blue: #3892ff;
$glass_color: rgb(255 255 255 / 20%);
