$font_main: 17px;
$font_big: 24px;
$font_small: 13px;
$gap: 10px;
$gap_small: 4px;
$border_width: 1px;
$outline_offset: 2px;
$input_height: 28px;
$color_input_height: $input_height + ($border_width * 4);
$input_content_gap: 8px;
$input_inner_padding: 7px;
$input_content_gap_2: $input_content_gap - ($border_width * 2);
$main_margin: 16px;
$main_margin_2: $main_margin * 2;
$main_margin_4: $main_margin * 4;
$black: #212121;
$yellow: #fbff75;
$light_orange: #fff7c7;
$blue: #3892ff;
