/* stylelint-disable selector-class-pattern */

@import 'template_focus';

::selection {
    background-color: $nqp !important;
    color: white !important;
}

:not(html):not(body):not(select) {
    &::-webkit-scrollbar-corner,
    &::-webkit-resizer {
        background-color: $hev;
        border-color: $hev;
    }

    &::-webkit-scrollbar-track {
        background-color: $gaq;
        border-color: $gaq;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $hev;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $lpe;
    }

    &::-webkit-scrollbar-track:horizontal,
    &::-webkit-scrollbar-track:vertical {
        border-color: $hev;
    }
}

.loading_screen {
    &.main {
        background-color: $dfp;
    }

    svg {
        stroke: $lpe;
    }
}

body {
    background-color: $gaq;

    .btn.text {
        outline-color: $hev;
        background-color: $gaq;

        &:hover {
            background-color: $qgp;
        }
    }
}

.main,
button,
select,
input,
textarea {
    color: $lpe;
}

hr {
    background-color: $hev;
}

.sections {
    background-color: $htc;
}

.section_btns {
    background-color: $gaq;

    .section_btn {
        background-color: $gaq;

        &.selected::before {
            background-color: $ycp;
        }

        &:not(.selected):hover::before {
            background-color: $cop;
        }
    }
}

.help_btn svg {
    fill: $lpe;
}

.input_item {
    .inset_border::before {
        outline-color: $hev;
    }

    .input {
        background-color: $gaq;
    }

    .btn.text_input {
        background-color: $gaq;

        svg {
            fill: $lpe;
        }
    }

    .palette {
        background-color: $htc;
    }

    .input_w {
        .visualization,
        .palette_visualization {
            border-color: $hev;
            background-color: $gaq;
        }
    }

    select {
        background-image: linear-gradient(45deg, transparent 50%, $lpe 50%),
            linear-gradient(135deg, $lpe 50%, transparent 50%),
            linear-gradient(to right, $lpe, $lpe);
    }

    .range {
        .lower_fill {
            background-color: $lpe;
        }

        .input {
            &::-webkit-slider-thumb {
                background-color: $lpe;
            }

            &::-webkit-slider-runnable-track {
                box-shadow: inset 0 0 0 1px $hev, inset -1px 0 0 0 $hev;
            }
        }
    }

    .checkbox .box {
        outline-color: $hev;
        background-color: $gaq;

        svg {
            fill: $lpe;
        }
    }

    .upload_box {
        outline-color: $hev;

        .background {
            &.upload_box_idle {
                background-color: $gaq;
            }

            &.upload_box_hover {
                background-color: $qgp;
            }

            &.loading {
                background-image: repeating-linear-gradient(-45deg,
                $gaq,
                $gaq 14px,
                $qgp 14px,
                $qgp 28px);
            }
        }
    }

    .color_picker_w {
        *:not(.pcr-last-color):not(.pcr-current-color) {
            color: $lpe !important;
        }

        input {
            background-color: $gaq !important;
            outline-color: $hev !important;

            &:hover:not(.pcr-result):not(.active) {
                background-color: $qgp !important;
            }
        }
    }

    .pcr-app {
        background-color: $htc !important;
    }

    .pcr-color-preview,
    .pcr-palette,
    .pcr-slider,
    .pcr-picker,
    .pcr-result {
        border-color: $hev !important;
    }

    .pcr-type.active {
        background-color: $yos !important;
    }
}

.link {
    color: $ycp;

    &:visited {
        color: $ptn;
    }

    &:hover {
        color: $cop;
    }

    &:active {
        color: $uzf;
    }
}

.link_btn {
    color: $ycp;

    &:visited {
        color: $ptn;
    }

    &:hover {
        color: $cop;
    }

    &:active {
        color: $uzf;
    }
}

.ext_version {
    color: $lpe;
}
