/* stylelint-disable selector-class-pattern */

.input_item {
    .input_w {
        &.is_in_focus_state:not(.select)::before {
            outline-color: $cop;
        }

        &.is_in_warn_state:not(.select)::before {
            outline-color: $ptn;
        }
    }

    .visualization_w.opened .visualization,
    .palette_visualization_w.opened .palette_visualization,
    .palette_visualization_w.selected .palette_visualization {
        outline-color: $ycp;
    }
}

.keyboard .btn.text_input::before,
body.keyboard .btn.text:focus,
.keyboard .help_btn:focus,
.keyboard .btn.icon:focus,
.keyboard .input_item .checkbox .box:focus,
.keyboard .link:focus,
.keyboard .link_btn:focus,
.keyboard .input_item .input_w:not(.text, .textarea).is_in_focus_state::before,
.keyboard .input_item.range .input.is_in_focus_state,
.keyboard .input_item .visualization_w .visualization:focus,
.keyboard .input_item .palette_visualization_w .palette_visualization:focus {
    outline-color: $uzf;
}

.keyboard .input_item .pcr-palette:focus,
.keyboard .input_item .pcr-slider:focus,
.keyboard .input_item .pcr-picker:focus,
.keyboard .input_item .color_picker_w input:not(.pcr-result):focus {
    outline-color: $uzf !important;
}

.input_item .pcr-result:focus {
    outline-color: $cop !important;
}

.keyboard .input_item .pcr-result:focus {
    outline-color: $uzf !important;
}

.keyboard .section_btn:not(.selected):focus {
    box-shadow: inset 0 0 0 2px $uzf, inset -2px 0 0 0 $uzf;
}
