/* stylelint-disable selector-class-pattern */

@import 'template_focus';

@mixin link_colors_standard {
    @include link_colors($ycp, $ptn, $cop, $uzf);
}

::selection {
    background-color: $nqp !important;
    color: white !important;
}

:not(html, body, select) {
    &::-webkit-scrollbar-corner,
    &::-webkit-resizer {
        background-color: $hyn;
        border-color: $hyn;
    }

    &::-webkit-scrollbar-track {
        background-color: $npw;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $fxm;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $lpe;
    }

    &::-webkit-scrollbar-track:horizontal,
    &::-webkit-scrollbar-track:vertical {
        border-color: $fxm;
    }
}

.link {
    @include link_colors_standard();
}

.link_btn {
    @include link_colors_standard();
}

textarea {
    &::-webkit-scrollbar-corner,
    &::-webkit-resizer {
        background-color: $nur;
        border-color: $vqo;
    }

    &::-webkit-scrollbar-track {
        background-color: $hcx;
    }
}

.loading_screen {
    &.main {
        background-color: $dfp;
    }

    svg {
        stroke: $lpe;
    }
}

.help_btn svg {
    fill: $lpe;
}

body {
    background: $gqb;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .main_2 {
        background-color: $hfb;
    }

    .btn {
        &.text {
            background-color: $npw;
            outline-color: $hyn;

            &:hover {
                background-color: $qgp;
            }
        }

        &.icon_btn {
            background-color: transparent;

            &:not(:first-child) {
                margin-left: $gap;
            }
        }
    }

    .btn,
    .link.svg {
        svg {
            display: block;
            fill: $lpe;
        }
    }
}

.main,
button,
select,
input,
textarea {
    color: $lpe;
}

hr {
    background-color: $hyn;
}

.btn_options {
    background-color: $npw;
    border-color: $hyn;

    .btn_option {
        hr {
            background-color: $hyn;
        }

        &:hover {
            background-color: $qgp;
        }
    }
}

.sections {
    background-color: $tbn;

    .section_name {
        border-color: $hyn;
    }
}

.section_btns {
    background-color: $gvb;

    .section_btn {
        background-color: $hfb;

        &.selected::before {
            background-color: $ycp;
        }

        &:not(.selected):hover::before {
            background-color: $cop;
        }
    }
}

.input_item {
    .inset_border::before {
        outline-color: $hyn;
    }

    .input {
        background-color: $npw;

        &::placeholder {
            color: $mdc;
        }
    }

    .btn.text_input {
        background-color: $npw;

        svg {
            fill: $lpe;
        }
    }

    .palette {
        background-color: $htc;
        color: $rbp;
    }

    .input_w {
        .visualization {
            background-color: $npw;
        }

        .palette_visualization_w.inset_border::before {
            outline-color: $hev;
        }

        .palette_visualization {
            background-color: $npw;
        }
    }

    select {
        background-image: linear-gradient(45deg, transparent 50%, $lpe 50%),
            linear-gradient(135deg, $lpe 50%, transparent 50%),
            linear-gradient(to right, $lpe, $lpe);

        option {
            color: $rbp;
        }
    }

    .range {
        .lower_fill {
            background-color: $lpe;
        }

        .input {
            &::-webkit-slider-thumb {
                background-color: $lpe;
            }

            &::-webkit-slider-runnable-track {
                box-shadow: inset 0 0 0 1px $hyn;
            }
        }
    }

    .checkbox .box {
        outline-color: $hyn;
        background-color: $npw;

        svg {
            fill: $lpe;
        }
    }

    .upload_box {
        outline-color: $hyn;

        .background {
            &.upload_box_idle {
                background-color: $npw;
            }

            &.upload_box_hover {
                background-color: $qgp;
            }

            &.loading {
                background-color: transparent;
                /* stylelint-disable-next-line function-parentheses-newline-inside */
                background-image: repeating-linear-gradient(-45deg,
                $npw,
                $npw 14px,
                $qgp 14px,
                $qgp 28px);  /* stylelint-disable-line function-parentheses-newline-inside */
            }
        }
    }

    &.color .link_btn {
        @include link_colors($iub, $dwk, $yun, $hap);
    }

    .color_picker_w {
        *:not(.pcr-last-color, .pcr-current-color) {
            color: $rbp !important;
        }

        input {
            background-color: $npw !important;
            outline-color: $hev !important;

            &:hover:not(.pcr-result, .active) {
                background-color: $hyv !important;
            }
        }
    }

    .pcr-app {
        background-color: $htc !important;
    }

    .pcr-color-preview,
    .pcr-palette,
    .pcr-slider,
    .pcr-picker,
    .pcr-result {
        border-color: $hev !important;
    }

    .pcr-type.active {
        background-color: $nep !important;
    }
}

.input_error {
    color: $rqb;
}

.ext_version {
    color: $lpe;
}
