@import "../../vars";

$gaq: #292929;
$nrf: #395275;
$yos: #475466;
$htc: #373737;
$lpe: white;
$nqp: rgba(174, 35, 43, 0.99);
$uvi: #121212;
$cop: #3b7949;
$pdv: $yellow;
$pec: #ff8787;
$bvs: #77ff6f;
$nmy: #f493ff;
$dfp: #293d4d;
$myo: #09a700;
$ptn: #bb141c;