.btn {
    @include btn;
    border-radius: 0;
    position: relative;
    vertical-align: bottom;
}

.btn.text {
    @include btn;
    @include border_transparent;
    @include outline_solid;
    display: block;
    height: $input_height + ($border_width * 2);
    padding: 0px $input_inner_padding 0px $input_inner_padding;
    outline-offset: -1px;
}

.btn.text:not(:first-child) {
    margin-top: $gap;
}