$box_size: 18px;
$checkmark_size: 16px;

.checkbox:not(:first-child) {
    margin-top: $gap;
}

.checkbox input {
    display: none;
}

.checkbox .wrap_label {
    margin-right: $input_content_gap;
}

.checkbox .box {
    @include border;
    height: $box_size;
    width: $box_size;
    cursor: pointer;
    display: block;
}

.checkbox .box svg {
    margin-top: 1px;
    margin-left: 1px;
    width: $checkmark_size;
    height: $checkmark_size;
    display: block;
}

.checkbox input + .box svg {
    opacity: 0;
}

.checkbox input:checked + .box svg {
    opacity: 1;
}
