$box_size: 18px;
$checkmark_size: 16px;

.checkbox input {
    display: none;
}

.checkbox .wrap_label {
    @include border_transparent;
    margin-right: $input_content_gap;
}

.checkbox .box {
    @include center_flex;
    @include outline_solid;
    height: $box_size;
    width: $box_size;
    cursor: pointer;
}

.checkbox .box svg {
    width: $checkmark_size;
    height: $checkmark_size;
}

.checkbox input + .box svg {
    opacity: 0;
}

.checkbox input:checked + .box svg {
    opacity: 1;
}
