/* stylelint-disable no-descending-specificity */

@import 'mixins';

$text_input_outline_size: 20px;

.pcr-interaction input:focus {
    box-shadow: none !important;
}

.keyboard .pcr-palette:focus,
.keyboard .pcr-slider:focus,
.keyboard .pcr-picker:focus,
.pcr-result:focus,
.keyboard .color_picker_w input:not(.pcr-result):focus {
    box-shadow: none;
}

.keyboard .pcr-palette:focus,
.keyboard .pcr-slider:focus,
.keyboard .pcr-picker:focus,
.pcr-result:focus,
.keyboard .color_picker_w input:not(.pcr-result):focus,
.keyboard .btn.text_input:focus:before,
body.keyboard .btn.text:focus,
.keyboard .checkbox .box:focus,
.keyboard .link:focus,
.keyboard .link_btn:focus,
.keyboard .help_btn:focus {
    @include outline_solid_thick;
}

.keyboard .pcr-palette:focus,
.keyboard .pcr-slider:focus,
.keyboard .link:focus,
.keyboard .link_btn:focus,
.keyboard .help_btn:focus {
    outline-offset: $outline_offset;
}

.palette_visualization_w.selected:not(.opened) .palette_visualization {
    @include outline_solid_thick;
    outline-offset: $outline_offset;
}

.visualization_w.opened .visualization,
.palette_visualization_w.opened .palette_visualization {
    @include outline_dashed_thick;
    outline-offset: $outline_offset;
}

.keyboard .visualization_w .visualization:focus,
.keyboard .palette_visualization_w .palette_visualization:focus {
    @include outline_solid_thick;
    outline-offset: $outline_offset;
}

.keyboard .visualization_w.opened .visualization:focus,
.keyboard .palette_visualization_w.opened .palette_visualization:focus {
    @include outline_dashed_thick;
}

.keyboard .btn.text_input:focus:before {
    content: '';
    position: absolute;
    width: $text_input_outline_size;
    height: $text_input_outline_size;
    top: 4px;
    left: -2px;
}

.reload_ui_btn_w .keyboard .btn:focus {
    @include blue_border;
}
