input[type="file"] {
    display: none;
}

.input_item {
    margin-left: unset;
    justify-content: unset;
    align-items: center;
    flex-direction: column;
    display: table;
    width: auto;
}

.input_item:not(:first-child) {
    margin-top: $gap;
}

.input_item .label {
    display: flex;
    align-items: center;
    height: unset;
    margin-right: 0;
    white-space: normal;
}

.input_item.text .label,
.input_item.textarea .label,
.input_item.select .label {
    margin-bottom: $gap_small;
}

.main.window .input_item .label {
    height: unset;
}

.input_item .input {
    @include input_basic;
    height: $input_height;
    padding: 0px $input_inner_padding 0px $input_inner_padding;
    flex-grow: 1;
    border-radius: 0;
    box-sizing: border-box;
}

.input_item .input.gesture {
    padding-bottom: 3px;
    box-sizing: border-box;
}

.input_w {
    position: relative;
    display: flex;
    flex-shrink: 0;
}

.input_w.text,
.input_w.textarea,
.input_w.select {
    @include border_transparent;
}

.input_w.is_in_focus_state:not(.select):before,
.input_w.is_in_warn_state:not(.select):before,
.keyboard .input_w:not(.text):not(.textarea).is_in_focus_state:before {
    @include outline_solid_thick;
}
