@import "mixins";

.inset_border {
    position: relative;
}

.inset_border:before {
    @include outline_solid;
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.input_item.color .inset_border:before {
    outline: none;
}

.btn.text:before {
    display: none;
}
