@import 'vars';

$border_width_thick: 2px;

@mixin full_dims {
    width: 100%;
    height: 100%;
}

@mixin top_left {
    top: 0;
    left: 0;
}

@mixin full_spread {
    @include full_dims;
    @include top_left;
}

@mixin max_z_index {
    z-index: 2147483647;
}

@mixin center_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center_translate {
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin border {
    border-width: $border_width;
    border-style: solid;
}

@mixin border_transparent {
    @include border;
    border-color: transparent;
}

@mixin border_top {
    border-top-width: $border_width;
    border-top-style: solid;
}

@mixin border_bottom {
    border-bottom-width: $border_width;
    border-bottom-style: solid;
}

@mixin border_left {
    border-left-width: $border_width;
    border-left-style: solid;
}

@mixin border_right {
    border-right-width: $border_width;
    border-right-style: solid;
}

@mixin white_border {
    border: $border_width solid white;
}

@mixin black_border {
    border: $border_width solid $black;
}

@mixin blue_border {
    border: $border_width solid $blue;
}

@mixin border_bottom {
    border-bottom-width: $border_width;
    border-bottom-style: solid;
}

@mixin outline_solid {
    outline-width: $border_width;
    outline-style: solid;
}

@mixin outline_dashed {
    outline-width: $border_width;
    outline-style: dashed;
}

@mixin outline_solid_thick {
    outline-width: $border_width_thick;
    outline-style: solid;
}

@mixin outline_dashed_thick {
    outline-width: $border_width_thick;
    outline-style: dashed;
}

@mixin btn {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0;
}

@mixin text_btn_svg {
    height: 16px;
    width: 16px;
    display: block;
}

@mixin input_basic {
    border: none;
    outline: none;
}

$box_shadow_for_mixin: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;

@mixin box_shadow {
    box-shadow: $box_shadow_for_mixin;
}

@mixin box_shadow_important {
    box-shadow: $box_shadow_for_mixin !important;
}
