.input_w select.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: calc(100% - 18px) 13px, calc(100% - 12px) 13px, calc(100% - 36px) 9px;
    background-size: 6px 6px, 6px 6px, 1px 14px;
    background-repeat: no-repeat;
    padding-right: 49px;
}

.input_item.select .label {
    margin-bottom: $label_margin_bottom;
}
