@import 'vars';
@import 'mixins';

.main,
.content,
button,
input {
    font-family: u6Pgzb39sNF, sans-serif;
    font-size: 17px;
}

.input_item .input {
    -moz-appearance: textfield;
}

.input_item .input::-webkit-inner-spin-button,
.input_item .input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
