$animation_duaration: 200ms;
$animation_mode: ease-out;
$font_small: 13px;
$gap: 10px;
$gap_small: 5px;
$border_width: 1px;
$outline_offset: 2px;
$input_height: 28px;
$color_input_height: $input_height + ($border_width * 4);
$input_content_gap: 8px;
$input_inner_padding: 7px;
$input_content_gap_2: $input_content_gap - ($border_width * 2);
$black: #212121;
$yellow: #fbff75;
$light_orange: #fff7c7;
$blue: #3892ff;
