.btn.text,
.checkbox .box {
    outline-color: $lpe;
    background-color: $gaq;
}

.input_w.is_in_focus_state:not(.select):before {
    outline-color: $myo;
}

.input_w.is_in_warn_state:not(.select):before {
    outline-color: $ptn;
}

.visualization_w.opened .visualization,
.palette_visualization_w.opened .palette_visualization,
.palette_visualization_w.selected .palette_visualization {
    outline-color: $ycp;
}

.keyboard .btn.text_input:before,
body.keyboard .btn.text:focus,
.keyboard .help_btn:focus,
.keyboard .checkbox .box:focus,
.keyboard .link:focus,
.keyboard .link_btn:focus,
.keyboard .input_w:not(.text):not(.textarea).is_in_focus_state:before,
.keyboard .visualization_w .visualization:focus,
.keyboard .palette_visualization_w .palette_visualization:focus {
    outline-color: $uzf;
}

.keyboard .pcr-palette:focus,
.keyboard .pcr-slider:focus,
.keyboard .pcr-picker:focus,
.pcr-result:focus,
.keyboard .color_picker_w input:not(.pcr-result):focus {
    outline-color: $uzf !important;
}

.pcr-result:focus {
    border-color: $uzf !important;
}

.keyboard .section_btn:not(.selected):focus {
    box-shadow: inset 0 0 0 2px $uzf, inset -3px 0 0 0px $uzf;
}
