@import "../../mixins";

::selection {
    background-color: $nqp !important;
    color: white !important;
}

.main ::-webkit-scrollbar-thumb {
    background-color: $uvi;
}

.main ::-webkit-scrollbar-track {
    background-color: $gaq;
}

.main ::-webkit-scrollbar-corner,
.main ::-webkit-resizer {
    background-color: $lpe;
}

.loading_screen.main {
    background-color: $dfp;
}

.loading_screen svg {
    stroke: $lpe;
}

body {
    background-color: $gaq;
}

.main,
button,
select,
input,
textarea {
    color: $lpe;
}

.main {
    border-color: $lpe;
}

.section_btns {
    background-color: $nrf;
}

.section_btn {
    border-color: $lpe;
    background-color: $nrf;
}

.section_btn.selected {
    background-color: $htc;
}

.section_btns .filler:after,
.section_btn:after {
    background-color: $lpe;
}

.section_btn:not(.selected):hover {
    background-color: $cop;
}

.sections {
    background-color: $htc;
}

body .btn.text,
.input_item .input,
.input_item .btn.text_input {
    background-color: $gaq;
}

.btn.text:hover {
    background-color: $yos;
}

.input_w.inset_border:before {
    border-color: $lpe;
}

.palette {
    background-color: $htc;
}

.top_palette_visualization_btns .palette_visualization {
    background-color: $gaq;
}

.input_w .visualization {
    border-color: $lpe;
    background-color: $gaq;
}

.help_btn svg,
.checkbox .box svg {
    fill: $lpe;
}

.btn.text_input svg {
    fill: $lpe;
}

select {
    background-image: linear-gradient(45deg, transparent 50%, $lpe 50%),
        linear-gradient(135deg, $lpe 50%, transparent 50%), linear-gradient(to right, $lpe, $lpe);
}

.checkbox .box {
    background-color: $gaq;
}

.pcr-app {
    border-color: $lpe !important;
    background-color: $htc !important;
}

.color_picker_w *:not(.pcr-last-color):not(.pcr-current-color) {
    color: $lpe !important;
}

.pcr-color-preview,
.pcr-palette,
.pcr-slider,
.pcr-picker,
.pcr-result,
.color_picker_w input {
    border-color: $lpe !important;
}

.color_picker_w input {
    background-color: $gaq !important;
}

.link {
    color: $pdv;
}

.link:visited {
    color: $pec;
}

.link:hover {
    color: $bvs;
}

.link:active {
    color: $nmy;
}

.input_w.is_in_focus_state:before {
    border-color: $myo;
}

.input_w.is_in_warn_state:before {
    border-color: $ptn;
}